
.reg-cust__list {
    @media screen and (min-width:320px) {
        @include flexPosition();
        flex-wrap: wrap;
    }

    @media screen and (min-width:768px) {
        margin-left: 30px;
        
        padding-bottom: 60px;
    }

    @media screen and (min-width:1200px) {
        @include flexPosition();
        flex-wrap: nowrap;
    }

    list-style: none;
}
.reg-cust__item{
    @media screen and (max-width:479px) {
        display: block;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width:480px) and (max-width:767px) {
        display: inline;
        &:nth-child(2n+1) {
            margin-right: 30px;
        }
        &:nth-last-child(n+3) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        flex-basis: calc((100% - 30px)/3);
        &:nth-last-child(n+4) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:1200px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.reg-cust__link {
    @include flexPosition();
    width: 170px;
    height: 92px;
    border: 1px #AFB1B8 solid;
    border-radius: 4px;
    fill: #AFB1B8;

    @extend %transtion;

    &:hover {
        fill: $accent-color;
        border-color: $accent-color;
    }
}