.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    height: 80px;
    @include flexPosition();    
    padding: 0;
}

.header__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: $header-color;

    margin-right: 93px;
}

.header__logo-item {
    color: $accent-color;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item:not(:last-child) {
    margin-right: 50px;

}

.header__link {
    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $header-color;

    @extend %transtion;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &:hover::after,
    &:focus::after {
        opacity: 1;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
        position: absolute;
        left: 0;
        bottom: -32px;
        opacity: 0;
    
        @extend %transtion;
    }
}

.header__address-list {
    display: flex;
    margin-left: auto;
    max-height: 80px;
}

.header__address-item {
    display: flex;
    align-items: center;
    
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.header__address-link {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $paragraph-color;
    margin-top: auto;
    margin-bottom: auto;

    @extend %transtion;
}

.header__icons {
    display: block;
    max-height: 80px;
    margin-right: 10px;
    fill: #757575;
}

.header__address-link--hover-color:hover,
.header__address-link--hover-color:focus {
    color: $accent-color;
}

.header__address-link:hover .header__icons--hover-color,
.header__address-link:focus .header__icons--hover-color {
    fill: $accent-color;
}

.header__link--visible::after {
    opacity: 1;
}

.header__link--visible {
    color: $accent-color;
}