.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    height: 80px;
    @include flexPosition();    
    padding: 0 15px;
    @media screen and (min-width:480px) {
        margin-right: auto;
        margin-left: auto;
    }
}

.header__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: $header-color;

    margin-right: 93px;
}

