.pic {
    width: 100%;
    display: block;
}

.container {
    // width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:480px) {
        width: 480px;
    }
    @media screen and (min-width:768px) {
        width: 768px;
    }
    @media screen and (min-width:1200px) {
        width: 1200px;
    }
}

.section {
    @include conteiner(60px);
    @media screen and (min-width:1200px) {
        @include conteiner(94px);
    }
}

.header__item,
.qualities__item,
.about__item,
.team__item,
.header__address-item,
.filter__item,
.product__item,
.header-social__item {
    list-style-type: none;
}

.entry-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.submit-button {
    height: 50px;
    width: 200px;

    color: #fff;

    background-color: $accent-color;

    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    @extend %transtion;

    &:hover,
    &:focus {
        outline: none;
        background-color: $btn-hover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    }
}

.main-section__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
